@using Vehicle_Rental_System.Model

@model History

<h2>History Registration</h2>
<div class="col-md-6">
    <form asp-action="Create">
        <div class="mb-3">
            <label asp-for="StartDate" class="form-label fw-bold"></label>
            <input asp-for="StartDate" type="datetime-local" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="EndDate" class="form-label fw-bold"></label>
            <input asp-for="EndDate" type="datetime-local" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CustomerId" class="form-label fw-bold">Select customer</label>
            <select asp-for="CustomerId" class="form-control" required>
                <option value="">Select a Customer</option>
                @foreach (Customer customer in ViewBag.Customers)
                {
                    <option value="@customer.CustomerId">@customer.CustomerId - @customer.CustomerName</option>
                }
            </select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="VehicleId" class="form-label fw-bold">Select Vehicle</label>
            <select asp-for="VehicleId" class="form-control" required>
                <option value="">Select a Vehicle</option>
                @foreach (Vehicle vehicle in ViewBag.Vehicles)
                {
                    <option value="@vehicle.VehicleId">@vehicle.VehicleId - @vehicle.Brand</option>
                }
            </select>
            <span asp-validation-for="VehicleId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Save History</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
