@model IEnumerable<Customer>
@using Vehicle_Rental_System.Model

@{
    ViewBag.Title = "Customer List";
}
<h2>@ViewBag.Title</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer customer in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => customer.CustomerName)</td>
                <td>@Html.DisplayFor(modelItem => customer.Email)</td>
                <td>@Html.DisplayFor(modelItem => customer.Phone)</td>
                <!-- Display the new Address property if added -->
                <td class="flex">
                    <a class="btn btn-secondary" href="@Url.Action("Details", new { id = customer.CustomerId })">Details</a>
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = customer.CustomerId })">Edit</a>

                    @using (Html.BeginForm("Delete", "Customer", new { id = customer.CustomerId }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this customer?');" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" href="@Url.Action("Create")">Create New Customer</a>

