@using Vehicle_Rental_System.Model.ViewModel
@model VehicleViewModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using Vehicle_Rental_System.Model

<form asp-action="Create" method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.Brand)
        @Html.TextBoxFor(m => m.Brand, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Model)
        @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Type)
        @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RentalPrice)
        @Html.TextBoxFor(m => m.RentalPrice, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        <label asp-for="VehicleAvailabilityStatus" class="control-label"></label>
        <select asp-for="VehicleAvailabilityStatus" asp-items="Html.GetEnumSelectList<VehicleAvailabilityStatus>()" class="form-control"></select>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Mileage)
        @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedLocationId, "Location")
        @Html.DropDownListFor(m => m.SelectedLocationId, Model.AvailableLocations, "Select Location", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedReservationIds, "Reservations")
        @Html.ListBoxFor(m => m.SelectedReservationIds, Model.AvailableReservations, new { @class = "form-control", multiple = "multiple" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedHistoryIds, "Histories")
        @Html.ListBoxFor(m => m.SelectedHistoryIds, Model.AvailableHistories, new { @class = "form-control", multiple = "multiple" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

