@using Vehicle_Rental_System.Model
@model Vehicle

@{
    ViewData["Title"] = "Delete Vehicle";
}

<h2>Delete Vehicle</h2>

<h4>Are you sure you want to delete this vehicle?</h4>
<hr />

<dl class="row">
    <dt class="col-sm-3">Brand</dt>
    <dd class="col-sm-9">@Model.Brand</dd>

    <dt class="col-sm-3">Model</dt>
    <dd class="col-sm-9">@Model.Model</dd>

    <dt class="col-sm-3">Type</dt>
    <dd class="col-sm-9">@Model.Type</dd>

    <dt class="col-sm-3">Rental Price</dt>
    <dd class="col-sm-9">@Model.RentalPrice</dd>

    <dt class="col-sm-3">Mileage</dt>
    <dd class="col-sm-9">@Model.Mileage</dd>

    <dt class="col-sm-3">Availability</dt>
    <dd class="col-sm-9">@Model.VehicleAvailabilityStatus</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="VehicleId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

 

